# AI & API Configuration
GOOGLE_API_KEY="" #insert key here if you want to enhance detection and semantic removal with AI
AI_ENHANCE=True # defaults to false if unset

# Transcription Engine (whisper or vosk)
TRANSCRIPTION_ENGINE=whisper

# Audio Processing
# Options: bleep, silence, or remove (cutting)
# note that remove only applies to audio only and not video as it will mess up the sync between video and audio tracks.
# For video, we fall back to silence if remove is selected
CENSOR_METHOD=remove
ANALYSIS_CHUNK_SIZE=60 # defaults to 60 if unset

# Whisper Specifics
WHISPER_MODEL=base # defaults to base if unset